<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="connectionString" connectionString="Data Source=DESKTOP-E7J20AH\SQLEXPRESS03;Initial Catalog=Fahrschule;Integrated Security=true"/>
		<!--<add name="connectionString" connectionString="Data Source=DESKTOP-E7J20AH\SQLEXPRESS03;Initial Catalog=practic_aufgabe_1;Integrated Security=true"/>-->
	</connectionStrings>

	<appSettings>
		<!--<add key="parent" value="Fahrschule_Daten"/>
		<add key="child" value="Ausbilders"/>-->

		<add key="parent" value="Kategorien"/>
		<add key="child" value="Autos"/>
	</appSettings>
</configuration>